div.about
  div#about-menu
    div.selected#about-menu-about #{translator.get("About")}
    br
    div#about-menu-changelog #{translator.get("Changelog")}
    br
    div#about-menu-terms #{translator.get("Terms of use")}
    br
    div#about-menu-privacy #{translator.get("Privacy")}
  div#about-content

  //div.about-button-div
  //  div#about-button <i class="fa fa-check"></i> #{translator.get("Let's go!")}
