div.code-editor#code-editor
  div.code-toolbar#code-toolbar Source Code
  div.source-list-panel#source-list-panel
    div.source-list-header#source-list-header
      div #{translator.get("Files")}
      i(class="fa fa-chevron-circle-right")
    div.source-list#source-list
    div.create-source-button#create-source-button <i class="fa fa-plus-square"></i> #{translator.get("Add File")}
  div.editor-locked#editor-locked
  div.editor-view#editor-view
  div.help-window#help-window
    div#help-window-content
      div.left-side
        i(class="fa fa-question")
      div.content

  div.code-tools
    div.buttons
      div#code-font-minus(title="Decrease font size") <i class="fas fa-long-arrow-alt-down"></i> A
      div#code-font-plus(title="Increase font size") <i class="fas fa-long-arrow-alt-up"></i> A
      div#code-search.selected(title="Search in code")
        i.fas.fa-search

    div.value-tool-button#color-value-tool-button
      span CTRL
      i.fa.fa-palette

    div.value-tool-button#number-value-tool-button
      span CTRL
      div.slider-track
      div.slider-cursor

div.code-splitbar#code-splitbar

div.runtime-container#runtime-container
  div.runtime#runtime
    div.runbar#runbar
      span Run
      div.buttons
        div#run-button(title=translator.get("Run project"))
          i.fas.fa-play
        div#pause-button.selected(title=translator.get("Pause execution"))
          i.fas.fa-pause
        div#reload-button.selected(title=translator.get("Restart project"))
          i.fa.fa-redo
        div#detach-button(title=translator.get("Detach run window"))
          i.fas.fa-window-restore
        div#take-picture-button(title=translator.get("Take a picture"))
          i.fas.fa-camera
        div#qrcode-button(title=translator.get("Project QR Code"))
          i.fas.fa-qrcode

      a#run-link(target="_blank")

    div.devicecontainer
      div#device

      div#ruler
        canvas#ruler-canvas

  div.runtime-splitbar#runtime-splitbar

  div.runtime-terminal#runtime-terminal
    div#terminal
      div#terminal-toolbar
        span Console
        div.buttons
          div#clear-button(title="Clear console")
            i.fa.fa-trash-alt
          div#console-options-button(title="Console options")
            i.fa.fa-cogs

        i#open-debugger-button.fa.fa-bug

      div#terminal-view
        div#terminal-lines
      div#terminal-input-line
        div#terminal-input-gt
          i.fa.fa-angle-right
        div#terminal-input-container
          input#terminal-input(autocomplete="off" name="terminalinput")

      div#console-options
        div
          input#console-options-warning-undefined(type="checkbox")
          label(for="console-options-warning-undefined") #{translator.get("Display warning when using an undefined variable")}
          br
          input#console-options-warning-nonfunction(type="checkbox")
          label(for="console-options-warning-nonfunction") #{translator.get("Display warning when calling something that isn't a function")}
          br
          input#console-options-warning-assign(type="checkbox")
          label(for="console-options-warning-assign") #{translator.get("Display warning when setting property on an undefined variable")}

    div#debug-splitbar

    div#debug-main-view
      div#debug-main-toolbar
        div#debug-tab-watch <i class="fa fa-eye"></i> #{translator.get("Watch")}
        // div#debug-tab-time-machine <i class="fas fa-history"></i> #{translator.get("Time Machine")}

      div#debug-watch-view
        div#debug-watch-bar
          i.fa.fa-eye
          span #{translator.get("Watch")}
          i.fa.fa-filter
          input#debug-watch-filter
          i#debug-watch-type-number.fas.fa-calculator.type.active(title=translator.get("Show Numbers"))
          i#debug-watch-type-string.fas.fa-quote-left.type.active(title=translator.get("Show Strings"))
          i#debug-watch-type-list.fas.fa-list.type.active(title=translator.get("Show Lists"))
          i#debug-watch-type-object.fas.fa-boxes.type.active(title=translator.get("Show Objects"))
          i#debug-watch-type-function.fas.fa-microchip.type.active(title=translator.get("Show Functions"))

        div#debug-watch-content

      div#debug-timemachine-view
