div.help-content
  div.help-sections
    div.help-section-category#help-fundamentals
      div.help-section-title
        i.fa
        span #{translator.get("Fundamentals")}
      div.help-section-content
        div.help-section-button.selected#documentation-quickstart #{translator.get("Quick Start")}
        div.help-section-button#documentation-programming #{translator.get("microScript programming")}
        div.help-section-button#documentation-api #{translator.get("API reference")}
      
    div.help-section-category#help-graphics.collapsed
      div.help-section-title
        i.fa
        span #{translator.get("Advanced graphics")}
      div.help-section-content
        div.help-section-button#documentation-m2d micro 2D
        div.help-section-button#documentation-pixi PIXI.js
        div.help-section-button#documentation-m3d micro 3D
        div.help-section-button#documentation-babylon Babylon.js

    div.help-section-category#help-libs.collapsed
      div.help-section-title
        i.fa
        span #{translator.get("Optional libs")}
      div.help-section-content
        div.help-section-button#documentation-matter Matter.js
        div.help-section-button#documentation-cannon Cannon.js

    div.help-section-category#help-languages.collapsed
      div.help-section-title
        i.fa
        span #{translator.get("More programming languages")}
      div.help-section-content
        div.help-section-button#documentation-python Python
        div.help-section-button#documentation-javascript JavaScript
        div.help-section-button#documentation-lua Lua
    
  div.help-document
    div.helplist#helplist
      div.help-list#help-list

    div.help-view#help-view
      div.doc-render.documentation.md.dark#documentation
