div.help-sections#help-sections
  div.help-section-category#help-fundamentals
    div.help-section-title
      i.fa
      span #{translator.get("Fundamentals")}
    div.help-section-content
      div.help-section-button.selected#documentation-Quickstart #{translator.get("Quick Start")}
      div.help-section-button#documentation-Programming #{translator.get("microScript programming")}
      div.help-section-button#documentation-API #{translator.get("API reference")}

  div.help-section-category#help-graphics.collapsed
    div.help-section-title
      i.fa
      span #{translator.get("Advanced graphics")}
    div.help-section-content
      div.help-section-button#documentation-Pixi PIXI.js
      div.help-section-button#documentation-Babylon Babylon.js
      div.help-section-button#documentation-M2D micro 2D
      div.help-section-button#documentation-M3D micro 3D

  div.help-section-category#help-libs.collapsed
    div.help-section-title
      i.fa
      span #{translator.get("Optional libs")}
    div.help-section-content
      div.help-section-button#documentation-Matter Matter.js
      div.help-section-button#documentation-Cannon Cannon.js

  div.help-section-category#help-languages.collapsed
    div.help-section-title
      i.fa
      span #{translator.get("More programming languages")}
    div.help-section-content
      div.help-section-button#documentation-Python Python
      div.help-section-button#documentation-JavaScript JavaScript
      div.help-section-button#documentation-Lua Lua

div.help-document#help-document
  div.helplist#helplist
    div.help-list#help-list

  div.help-view#help-view
    div.doc-render.documentation.md.dark#documentation
