div.assets-left
  div.assets-bar#music-asset-bar
    div.create-asset-button <i class="fa fa-plus-square"></i> #{translator.get("Music")}
    i.fa.fa-folder-plus.create-folder-button(title=translator.get("New Folder"))

  div.assets-drop
    div <i class="fas fa-arrow-circle-down"></i>
    div #{translator.get("You can drop audio files here, in mp3, Ogg or FLAC format.")}
    div(style="margin-top: 20px")
      small #{translator.get("Note: Ogg files cannot be played back on Safari / iOS.")}

  div#create-music-button(style="display:none") <i class="fa fa-plus-square"></i> #{translator.get("Add Music")}

  div.assetlist#musiclist
    div#music-list

div.horizontal-splitbar#music-splitbar

div.music-right
  div.assetinfo#musicinfo
    input(type="text" value="")#music-name
    div.validate-button-container#music-name-button
      div.validate-button <i class="fa fa-check"></i> #{translator.get("Apply")}

    div.buttons
      div#undo-music(title=translator.get("Undo"))
        i.fa.fa-undo
      div#redo-music(title=translator.get("Redo"))
        i.fa.fa-redo

      div#copy-music(title=translator.get("Copy"))
        i.fa.fa-copy
      div#cut-music(title=translator.get("Cut"))
        i.fa.fa-cut
      div#paste-music(title=translator.get("Paste"))
        i.fa.fa-paste

      div#delete-music.delete(title=translator.get("Delete Sound"))
        i.fa.fa-trash

  div#music-editor-locked
  div#music-editor
    div.placeholder #{translator.get("Drop your music files on the left. A sleek music creation app will land here in the future!")}
